---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: vf-config
  namespace: kube-system
  labels:
    app: vf-config
spec:
  selector:
    matchLabels:
      app: vf-config
  template:
    metadata:
      labels:
        app: vf-config
    spec:
      priorityClassName: system-node-critical
      hostNetwork: true
      hostPID: true
      tolerations:
        - operator: "Exists"
      terminationGracePeriodSeconds: 5
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node.kubernetes.io/instance-type
                operator: In
                values:
                # ConnectX-5 shapes (16 NICs)
                - BM.GPU4.8
                - BM.GPU.B4.8
                - BM.GPU.A100-v2.8
                # ConnectX-7 shapes (16 NICs)
                - BM.GPU.H100.8
                # ConnectX-7 shapes (8 NICs)
                - BM.GPU.H200.8
                - BM.GPU.B200.8
                - BM.GPU.MI300X.8
                - BM.GPU.MI355X-v1.8
                # ConnectX-7 shapes (2-4 NICs)
                # - BM.GPU.GB200.4
                # - BM.GPU.GB200-v2.4
                # # ConnectX-8 shapes (8 NICs)
                # - BM.GPU.GB200-v3.4
                # - BM.GPU.GB300.4
      volumes:
        - name: host-root
          hostPath:
            path: "/"
      containers:
        - name: vf-config
          image: iad.ocir.io/idxzjcdglx2s/vf-config:v6
          imagePullPolicy: Always
          securityContext:
            privileged: true
          volumeMounts:
            - name: host-root
              mountPath: /host
          resources:
            requests:
              cpu: 10m
              memory: 64Mi
            limits:
              cpu: 500m
              memory: 512Mi
          command:
            - /usr/local/bin/vf-config
            - --num-vfs=1
            - --host-root=/host
            - --wait-for-oca
            - --manage-services
            - --set-netns-exclusive
            - --restart-sriov
            - --run-once