apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: slurm-home
  namespace: ${slurm_namespace}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: ${home_pvc_size}
  volumeName: ${home_pv_name}
  storageClassName: ""
